body {
    background-color: #000;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    hyphens: auto;
}

header {
    .app-download {
        position: fixed;
        top: 2rem;
        right: 2rem;
        margin: 2rem;
        text-decoration: none;
        background-color: #fff;
        padding: 1rem;
        color:#000;
        border-radius: 10px;
    }
}

section {
    margin: 0 auto;
    max-width: 75ch;
}

.hero {
    background-color: none;
    text-align: center;
    height: 60vh;
    padding-top: 20rem;
    background: url(../img/deutschgenie-mockup.png) no-repeat center;
    background-size: contain;
    max-width: 100vw;
    margin-bottom: 5rem;
    .hero--content {
    /* From https://css.glass */
        background: rgba(255, 255, 255, 0.62);
        border-radius: 10px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(1.8px);
        -webkit-backdrop-filter: blur(1.8px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        padding: 1rem;
        max-width: 800px;
        margin: 0 auto;
        margin-bottom: 15rem;
        h1 {
            color:#000;
            font-size: 3rem;
        }
        .hero--cta {
            border: none;
            border-radius: 10px;
            padding: 1rem;
            font-size: 1rem;
            background-color: #000;
            color: #fff;
            font-weight: bold;
            cursor: pointer;
            &:hover {
                background-color: #fff;
                color: #000;
            }
        }
    }
    .scroll-link {
        color: #fff;
        text-decoration: none;
        font-size: 1.25rem;
        background: url(../img/arrow-down.svg) no-repeat bottom center;
        padding-bottom: 2rem;
    }
}

.how-to-learn {
    border-radius: 10px;
    background-color: #fff;
    padding: 1rem;
    color: #000;
    margin-bottom: 5rem;
}

.learning-concept {
    max-width: 900px;
    .concept-intro {
        max-width: 75ch;
        margin: 0 auto;
    }
    .concept-info {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        margin-top: 2rem;
        .concept-card {
            display: flex;
            flex-direction: column;
            height: 300px;
            background: url(../img/colors.svg) no-repeat top 10px right 10px;
            background-size: 48px;
            background-color: #fff;
            color: #000;
            border-radius: 10px;
            width: 250px;
            padding: 1rem;
            ul {
                padding-left: 1rem;
            }
            &.concept-color {
                background-color: #8394FF;
            }
            &.concept-icon {
                background-image: url(../img/smiley.svg);
                background-color: #9CFE9F;
            }
            &.concept-feedback {
                background-image: url(../img/ai.svg);
                background-color: #C983FF;
            }
        }
    }
    margin-bottom: 5rem;
}

.level-info {
    max-width: 900px;
    margin-bottom: 5rem;
    .level-intro {
        max-width: 75ch;
        margin: 0 auto;
    }
    .levels {
        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            li {
                list-style-type: none;
                padding: 1rem;
                border-radius: 10px;
                background-color: #fff;
                color: #000;
            }
        }
    }
}