body {
    background-color: #000;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    hyphens: auto;
}

section {
    margin: 0 auto;
    max-width: 75ch;
}

.hero {
    background-color: none;
    text-align: center;
    height: 60vh;
    padding-top: 20rem;
    background: url(../img/deutschgenie-mockup.png) no-repeat center;
    background-size: contain;
    max-width: 100vw;
    margin-bottom: 5rem;
    .hero--content {
    /* From https://css.glass */
        background: rgba(255, 255, 255, 0.62);
        border-radius: 10px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(1.8px);
        -webkit-backdrop-filter: blur(1.8px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        padding: 1rem;
        max-width: 800px;
        margin: 0 auto;
        margin-bottom: 15rem;
        h1 {
            color:#000;
            font-size: 3rem;
        }
        .hero--cta {
            border: none;
            border-radius: 10px;
            padding: 1rem;
            font-size: 1rem;
            background-color: #000;
            color: #fff;
            font-weight: bold;
            cursor: pointer;
            &:hover {
                background-color: #fff;
                color: #000;
            }
        }
    }
    .scroll-link {
        color: #fff;
        text-decoration: none;
        font-size: 1.25rem;
        background: url(../img/arrow-down.svg) no-repeat bottom center;
        padding-bottom: 2rem;
    }
}


.learning-concept {
    .concept-intro {

    }
}